body{
    background-color:#333;
    font-family:arial;
}
.article{
    background-color:white;
    padding:16px;
    margin:16px;
    border-radius:10px;
}
.title{
    text-align:center;
    font-size:25px;font-weight:bold;
    padding:20px;

}
.list{
    display:flex;
    justify-content:center;
    align-items: center;
}
.hide{
    display:none;
}
.hide2{
    display:none;
}
.hide3{
    display:none;
}
.option{
    flex:none;width:50%;
    width:100px;
    text-align:center;
    margin-left:20px;margin-right:20px;margin-top:10px;margin-bottom:5px;
    padding:3px;border-radius:5px;
    background-color:rgb(252, 226, 177);
    font-weight: bold;
}
.option:hover{
    background-color:rgb(255, 218, 148);
}
.subtitle{
    font-weight:bold;
    margin:10px;
    display:flex;
    align-items:center;
}
.content{
    border: 1px solid black;
    padding:8px;
    margin:10px;
}
.img1{
    width:16px
}

.num{
    font-size: 14px;  
}
.body3box{
    display:flex;
    align-items:center;
    justify-content:center;
    width: 100%;
    margin:30px;
}
.body3link1{
    flex:none;
    width:30%;
    text-align: center;
}
.body3link2{
    flex:none;
    width:30%;
    text-align: center;
}
.body3link3{
    flex:none;
    width:30%;
    text-align: center;
}
.body3title{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin:10px;
}
@media (max-width:1250px){
    .option{
        background-color: rgb(196, 154, 235);
    }
}
@media (max-width:500px){   
    .option{
        width:80px;
        font-size: 10px;
    }
    .pracrice1ans{
        border:1px solid black; border-radius:5px;
        width:100px;height:30px;
        color:brown;  
    }
    .pracrice2ans{
        border:1px solid black; border-radius:5px;
        width:150px;height:30px;
        color:brown;  
    }
}